APP_PORT=8080

MAIN_DATABASE_URL=host=localhost user=juntae password=juntae dbname=juntae_main port=15432 sslmode=disable TimeZone=America/Fortaleza

AUDIT_DATABASE_URL=host=localhost user=juntae password=juntae dbname=juntae_audit port=15433 sslmode=disable TimeZone=America/Fortaleza
